.portfolioSummaries {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  animation: slideUp 2s ease-in-out;
}

a {
  text-decoration: none;
  box-sizing: border-box;
}

a > * {
  height: 100%;
}

.link {
  display: block;
}

.link:hover {
  background-color: transparent;
  color: inherit;
}
