---
import ArticleCard from "./ArticleCard.astro";
import { getCollection } from "astro:content";

const articles = (await getCollection("analytics")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);

const { limit } = Astro.props;
---

<section class="grid snap-section">
  {articles.slice(0, limit).map((article) => <ArticleCard article={article} />)}
</section>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
    padding-bottom: 3rem;
    animation: slideUp 0.8s ease-out;
    sna
  }

  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  @keyframes fadeIn {
    from {
      color: transparent;
    }
    to {
      color: var(--accent);
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
