---
import { getPortfolios } from "../../server-api.js";
import { portfolio as portfolioType } from "./portfolio";
import { PortfolioSummary } from "./PortfolioSummary";

const portfolios: portfolioType[] = await getPortfolios();
---

<section class="portfolioSummaries snap-section">
  {
    portfolios.map((portfolio) => (
      <PortfolioSummary portfolioJson={JSON.stringify(portfolio)} client:load />
    ))
  }
</section>

<style>
  .portfolioSummaries {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    animation: slideUp 2s ease-in-out;
  }
</style>
