.container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  animation: slideUp 2s ease-in-out;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
