.container {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr;
  animation: slideUp 2s ease-in-out;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: none; /* Reset grid */
    height: 100dvh;
    gap: 1rem;
  }

  .container > * {
    min-height: 0; /* Allow shrinking in flex column */
    flex-shrink: 1;
  }
}
