:root {
  --navbar-height: 12vh;
  --navbar-height: 12dvh;
}

* {
  --radius: 0.5rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --backgroundImage: url("/bg-light.png");
  --background: #fbf8f2;
  --surface: #e9e3d7;
  --text: #0a0a0a;
  --text-secondary: #3a3a3c;
  --accent: #99743c;
  --accent-secondary: #a77904;
}

html.dark {
  --backgroundImage: url("/bg-dark.jpg");
  --background: #0a0a0a;
  --surface: #1a1a1c;
  --text: #f8f3e7;
  --text-secondary: #9d9a93;
  --accent: #b08d57;
  --accent-secondary: #a77904;
}

body {
  font-family: "Georgia", serif;
  line-height: 1.6;
  padding: 0;
  color: var(--text);
  background-color: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
}

.parallax {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  height: 200dvh;
  background-image: var(--backgroundImage);
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease, color 0.3s ease;
}

.snap-container {
  margin: 0;
  padding: 1rem;
  height: 100vh;
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding-top: calc(64px + 1rem);
  scroll-padding-top: calc(64px + 1rem);
  scrollbar-gutter: stable both;
}

.snap-container::-webkit-scrollbar {
  width: 0.8rem;
  background-color: var(--text);
  background-color: rgb(from var(--text) r g b / 0.2);
  z-index: 100;
}

.snap-container::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  background-color: rgb(from var(--accent) r g b / 0.7);
  border-radius: 0.4rem;
  border: 1px solid transparent;
  background-clip: content-box;
  z-index: 100;
}

.snap-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

h1 {
  font-size: 2rem;
  line-height: 1;
  color: var(--accent);
  letter-spacing: -1px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--accent-secondary);
}

h3 {
  color: var(--accent-secondary);
  font-size: 1.5em;
  margin-bottom: 15px;
  font-weight: 500;
}

h4 {
  color: var(--text);
  font-size: 1.2em;
  margin-bottom: 15px;
  font-weight: 500;
}

p,
li {
  font-size: 1rem;
  color: var(--text-secondary);
}

li {
  margin: 1rem 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
