html {
  --backgroundImage: url('../../public/niklas-jonasson-n7pLpkhwXFk-unsplash.jpg');
  --background: #FBF8F2;
  --surface: #E9E3D7;
  --text: #0A0A0A;
  --text-secondary: #3A3A3C;
  --accent: #B08D57;
  --accent-secondary: #B8860B;
}

html.dark {
  --backgroundImage: url('../../victor-furtuna-0mchrVHAYzg-unsplash.jpg');
  --background: #0A0A0A;
  --surface: #1A1A1C;
  --text: #F8F3E7;
  --text-secondary: #9d9a93;
  --accent: #B08D57;
  --accent-secondary: #4d305e;
}

body {
  font-family: sans-serif;
  padding: 0 0.5rem;
  color: var(--text);
  background-color: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.parallax {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-image: var(--backgroundImage);
  background-size: cover;
  transition: background-image 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  color: var(--accent);
}

h1 + h2 {
  font-size: 1.1rem;
  opacity: 0.9;
  font-weight: 400;
}

h2 {
  line-height: 0;
  color: var(--accent-secondary);
}

main {
  height: 100vh;
}

p, li {
  font-size: 1rem;
  color: var(--text-secondary);
  opacity: 0.8;
}

li {
  margin: 1rem 0;
}