* {
  --radius: 0.5rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --backgroundImage: url('bg-light.png');
  --background: #FBF8F2;
  --surface: #E9E3D7;
  --text: #0A0A0A;
  --text-secondary: #3A3A3C;
  --accent: #99743c;
  --accent-secondary: #a77904;
}

html.dark {
  --backgroundImage: url('victor-furtuna-0mchrVHAYzg-unsplash.jpg');
  --background: #0A0A0A;
  --surface: #1A1A1C;
  --text: #F8F3E7;
  --text-secondary: #9d9a93;
  --accent: #B08D57;
  --accent-secondary: #a77904;
}

body {
  font-family: "Georgia", serif;
  line-height: 1.6;
  padding: 0 0.5rem;
  color: var(--text);
  background-color: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.parallax {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-image: var(--backgroundImage);
  background-size: cover;
  transition: background-image 0.3s ease, color 0.3s ease;
}

.container {
  margin: 0 auto;
  padding: 60px 20px;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  color: var(--accent);
  letter-spacing: -1px;
}

h1+h2 {
  font-size: 1.1rem;
  opacity: 0.9;
  font-weight: 400;
  letter-spacing: 0;
}

h2 {
  line-height: 0;
  color: var(--accent-secondary);
  letter-spacing: -1px;
}

h3 {
  color: var(--accent-secondary);
  font-size: 1.5em;
  margin-bottom: 15px;
  font-weight: 500;
}

h4 {
  color: var(--text);
  font-size: 1.5em;
  margin-bottom: 15px;
  font-weight: 500;
}

main {
  height: 100vh;
}

p,
li {
  font-size: 1rem;
  color: var(--text-secondary);
}

li {
  margin: 1rem 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}