---
import Main from "../layouts/Main.astro";
import Header from "../components/Header.astro";
import Founders from "../components/Founders.astro";
---
<Main title="About us">
	<Header title="About us" subtitle="A brief history of success" />
	<Founders />
</Main>