---
import Main from "../layouts/Main.astro";
import Header from "../components/Header.astro";
import { ContactForm } from "../components/ContactForm/ContactForm.jsx";
---

<Main title="Contacts">
  <Header
    title="Contacts"
    subtitle="Leave a request and we will get in touch with you"
  />
  <ContactForm client:visible />
</Main>
