---
import Main from "../layouts/Main.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import { HERO_TEXT_SHORT, COMPANY_NAME as title } from "../constants";
import Strategies from "../components/Strategies.astro";
import Founders from "../components/Founders.astro";
import PortfolioList from "../components/Portfolio/PortfolioList.astro";

const subtitle = "Asset management and analytics beyond the edge of investment"
---

<Main title="Home">
    <Header title={title} subtitle={subtitle} />
    <Hero text={HERO_TEXT_SHORT} />
    <PortfolioList />
    <Strategies />
    <Founders />
</Main>
