---
import Main from "../layouts/Main.astro";
import logo from "../images/logo.png";
import { COMPANY_NAME, DUMMY_PORTFOLIOS } from "../constants";
import PortfolioSummaries from "../components/PortfolioSummaries.astro";
---

<Main title="Home">
  <div class="header">
    <img
      class="header__picture"
      src={logo.src}
      alt={COMPANY_NAME}
      width="140px"
      height="140px"
    />
    <div class="header__details">
      <h1>{COMPANY_NAME}</h1>
      <h2>Asset management | Analytics</h2>
      <p>Beyond the edge of investment</p>
    </div>
    <PortfolioSummaries
    portfolios={DUMMY_PORTFOLIOS}
  />
  </div>
</Main>

<style>
  .header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 0 3rem 0;
  }

  .header__details {
    flex: 1 0 300px;
  }

  .header__details > h1 {
    margin-top: 0;
  }

  .header__picture {
    border-radius: 50%;
    margin: 0 2rem 1rem 0;
  }
</style>
