---
import Main from "../layouts/Main.astro";
import PortfolioSummaries from "../components/PortfolioSummaries.astro";
import { DUMMY_PORTFOLIOS } from "../constants";
---

<Main title="Home">
  <PortfolioSummaries
    portfolios={DUMMY_PORTFOLIOS}
  />
</Main>
