a {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: var(--accent);
  display: block;
}

a:hover {
  background-color: var(--accent);
  color: var(--background);
}

a:global(.active) {
  background: var(--accent);
  color: var(--background);
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.dropdownHeader {
  display: flex;
  align-items: center;
}

.dropdownLink {
  cursor: pointer;
}

.dropdownToggleBtn {
  display: none;
  background: none;
  border: none;
  color: var(--accent);
  cursor: pointer;
  padding: 0.5rem;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 16rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: var(--radius);
  padding: 0.5rem 0;
  flex-direction: column;
  z-index: 101;
  backdrop-filter: blur(10px);
  background-color: var(--background);
}

/* Show menu on hover (desktop) */
.dropdown:hover .dropdownMenu {
  display: flex;
}

.dropdownMenu li {
  width: 100%;
  margin: 0;
  list-style: none;
}

.dropdownMenuLink {
  padding: 0.5rem 1rem;
  border-radius: 0;
  width: 100%;
  display: block;
  text-decoration: none;
  color: var(--accent);
}

.dropdownMenuLink:hover {
  background-color: var(--accent-secondary);
  color: var(--background);
}

@media (max-width: 768px) {
  .dropdown {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .dropdownHeader {
    width: 100%;
    justify-content: space-between;
  }

  .dropdownToggleBtn {
    display: block;
    padding: 1rem;
    transition: transform 0.3s;
  }

  .dropdown:global(.active) .dropdownToggleBtn {
    transform: rotate(180deg);
  }

  .dropdown:hover .dropdownMenu {
    display: none;
  }

  .dropdownMenu {
    position: static;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    padding: 0;
    display: none;
  }

  .dropdown:global(.active) .dropdownMenu {
    display: flex;
  }

  .dropdownMenuLink {
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    font-size: 0.9em;
  }
}
