---
import Pillar from "./Pillar.astro";
const { pillars } = Astro.props;
---

<div class="pillars">
    {
        pillars.map((pillar) => (
            <Pillar title={pillar.title} description={pillar.description} />
        ))
    }
</div>

<style>
    .pillars {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        margin: 2rem 0;
    }
</style>
