---
export type Props = {
  title: string;
  subtitle: string;
  returns: number[];
  portfolioPage: string;
};

const { title, subtitle, returns, portfolioPage } = Astro.props;
---

<a href={portfolioPage} class="portfolio-summary">
  <div class="portfolioSummary__inner">
    <div class="title">{title}</div>
    <div class="subtitle">{subtitle}</div>
    <div>
      <p>Last 12 month return and stddev</p>
      <p>Sharpe ratio</p>
      <p>
        Chart with {returns.join(", ")}
      </p>
    </div>
    <div class="portfolioSummary__footer">&rarr;</div>
  </div>
</a>

<style>
  .portfolio-summary {
    --radius: 10px;
    padding: 4px;
    border-radius: var(--radius);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  .portfolio-summary:hover {
    transform: scale(1.1);
  }

  .portfolioSummary__inner {
    background: var(--background);
    padding: 1.5rem;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    color: var(--grey-900);
  }

  .portfolioSummary__footer {
    margin: auto 0 0 auto;
    padding-top: 2rem;
    font-size: 1.2rem;
    color: var(--grey-900);
  }
</style>
