---
import PortfolioSummary from "./PortfolioSummary.astro";
import { fetchPortfolios, fetchReturns } from "../api.js";

const portfolios = await fetchPortfolios();
---

<div class="portfolioSummaries">
  {portfolios.map(portfolio => <PortfolioSummary {...portfolio} />)}
</div>

<style>
  .portfolioSummaries {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    align-items: stretch;
  }
</style>