---
import PortfolioSummary from "./PortfolioSummary.astro";
import { fetchPortfolios } from "../api.js";

const portfolios = await fetchPortfolios();
---

<div class="portfolioSummaries">
  {portfolios.map(portfolio => <PortfolioSummary {...portfolio} />)}
</div>

<style>
  .portfolioSummaries {
    display: grid;
    gap: 0.5rem;
    width: 100%;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        20rem,
        1fr
      )
    );
  }
</style>