---
import PortfolioSummary from "./PortfolioSummary.astro";
import { fetchPortfolios, fetchReturns } from "../api.js";

const portfolios = await fetchPortfolios();
---

<div class="portfolioSummaries">
  {portfolios.map(portfolio => <PortfolioSummary {...portfolio} />)}
</div>

<style>
  .portfolioSummaries {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    animation: slideUp 2s ease-in-out;
  }
</style>