---
const { title, subtitle } = Astro.props;
---

<header class="snap-section">
    <h2>{title}</h2>
    <p class="subtitle">{subtitle}</p>
</header>

<style>
    .snap-section {
        margin: 2rem 0 2rem 0;
        background-color: rgb(from var(--accent) r g b/0.7);
        border-radius: var(--radius);
    }
    header {
        padding: 2rem 0 2rem 0;
        text-align: center;
        animation: fadeIn 1s ease-in;
    }
    h2 {
        font-weight: 1000;
        color: var(--surface);
    }
    .subtitle {
        font-size: 1.3em;
        color: var(--background);
        font-style: italic;
        font-weight: 300;
    }
</style>
